.card-border {
  margin: 14px;
  background: #fff;
  height: 280px;
  width: 280px;

  border-radius: 2px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card-card {
  background: #fff;
  border-radius: 2px;
  height: 260px;
  margin: 10px;
  position: relative;
  width: 260px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card-redBorder {
  margin: 4px;
  background: red;
  border-radius: 2px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card-img-container {
  z-index: 2;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}

.card-image {
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;

}


@media only screen and (max-width: 1275px) {
  .card-border {
    margin: 4px;
  }
 
}

@media only screen and (max-width: 1200px) {
  .card-border {
    height: 225px;
    width: 225px;
  }

  .card-card {
    height: 200px;
    width: 200px;
  }
}


@media only screen and (max-width: 1050px) {
  .card-border {
    height: 200px;
    width: 200px;
  }

  .card-card {
    height: 180px;
    width: 180px;
  }
}

@media only screen and (max-width: 875px) {
  .card-border {
    height: 160px;
    width: 160px;
  }

  .card-card {
    height: 140px;
    width: 140px;
  }
}

@media only screen and (max-width: 735px) {
  .card-border {
    height: 140px;
    width: 140px;
  }

  .card-card {
    height: 120px;
    width: 120px;
  }
}

@media only screen and (max-width: 650px) {
  .card-border {
    margin: 10px;
    height: 100px;
    width: 100px;
  }

  .card-card {
    height: 80px;
    width: 80px;
  }
}

@media only screen and (max-width: 520px) {
  .card-border {
    height: 80px;
    width: 80px;
  }

  .card-card {
    height: 60px;
    width: 60px;
  }
}