

.home-p {
    font-weight: bold;
    font-size: 20px;
}

.home-top {
    margin-top: 25px;
}

.home-h3 {
    font-size: 40px;
}

.home-h1 {
    font-size: 60px;
}

.admin-header {
    padding: 25px;
}