.ending {
  width: 100%;
  text-align: center;

  color:red;

  height: 100%;
}

.ending-title {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  /* text-decoration: underline; */
  color:red;
 
}

.winner-area {
  padding: 10px;


}

.winner-img {
  height:300px;
  width:300px;
  /* border: 5px solid red; */
}


